matplotlib
pandas=1.3.3
pandas-datareader

#new
# ecos
# cvxpy

#NEW
Flask
# heroku needs this to run our app on the server
gunicorn
python-dotenv
PyPortfolioOpt

#NEW AGAIN
mpld3

#BOKEH integration
bokeh

