{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <style>
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
    </style>

    <!-- <h1>Welcome to the Optimal Portfolio Calculator</h1>
    <br>

    <p>Enter three stocks to view efficient frontier graph.</p>
    <p>The site is currently under development, but enjoy this demo in the mean time :)</p>
    <br> -->

    <form action="/plot/done" method="POST" >

        <h2>Stocks:</h2>

        {%for i in range(1, 4)%} 
        <label>Ticker {{i}}:</label>
            <input type="text" name="stock_{{+ i}}" placeholder="enter ticker">
        <br>
        {%endfor%} 

        <h2>Timeline:</h2>

        <label>Start Date:</label>
        <input type="text" name="start"  placeholder="YYYY-MM-DD" >
        <br>   

        <label>End Date:</label>
        <input type="text" name="end" placeholder="YYYY-MM-DD">
        <br>
        <button>Submit</button>
    </form>
    
{% endblock %}