{% extends "bootstrap_layout.html" %}
{% set active_page = "num-stocks" %}

{% block content %}

    <style>
        .justify{
            text-align: justify;
        }

        .center{
            text-align: center;
        }

        .center-form{
            text-align: center;
            /* margin-left: -10%; */
        }

        .right{
            right: 0;
        }

        h2:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            bottom: 0;
            width: 5px;
            border-radius: 2px;
            box-shadow: 
                inset 0 1px 1px rgba(0,0,0,0.5), 
                0 1px 1px rgba(255,255,255,0.3);
        }

        h2:after { background: #047bff; }
        /* h3:after { background: #047bff; } */
        /* h4:after { background: #047bff; } */

        h1 {
            font-size: 36px;
            line-height: 40px;
            margin: 1em 0 .6em 0;
            font-weight: normal;
            color: white;
            font-family: 'Hammersmith One', sans-serif;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
            position: relative;
            color: #047bff;
        }

        h2 {
            margin: 1em 0 .6em 0;
            padding: 0 0 0 20px;
            font-weight: normal;
            color: black;
            font-family: 'Hammersmith One', sans-serif;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
            position: relative;
            font-size: 45px;
            line-height: 40px;
        }

        h3 {
            margin: 1em 0 .6em 0;
            padding: 0 0 0 20px;
            font-weight: normal;
            color: black;
            font-family: 'Hammersmith One', sans-serif;
            /* text-shadow: 0 -1px 0 rgba(0,0,0,0.4); */
            position: relative;
            font-size: 28px;
            line-height: 40px;
            font-family: 'Questrial', sans-serif;
        }

        h4 { 
            margin: 1em 0 .6em 0;
            padding: 0 0 0 20px;
            font-weight: normal;
            color: black;
            font-family: 'Hammersmith One', sans-serif;
            /* text-shadow: 0 -1px 0 rgba(0,0,0,0.4); */
            position: relative;
            font-size: 20px;
            line-height: 20px;
            font-family: 'Questrial', sans-serif;
        }

        .ital {
            font-style: italic;
        }


        .hr2 {
            width: 0%;
            min-width: 20%;
            max-width: 100%;
            margin: 0 auto;
            border: none;
            border-bottom: 5px solid #047bff;
            position: relative;
            transition: box-shadow 200ms ease-in-out;

            border-radius: 2px;
            box-shadow: 
                inset 0 1px 1px rgba(0,0,0,0.5), 
                0 1px 1px rgba(255,255,255,0.3);

        }

        button {
            background-color: #047bff; 
            border-color: white;
            border-width: 2px;
            color: white;
        }

        button:hover {
            color: white;
            background-color: #047bff;
            opacity: 75%;
        }

        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            animation-duration: 3s;
            animation: fadein ease 3s;
            animation-iteration-count: 1;
        }

        @keyframes slidein {
            from {
                margin-left: 100%;
                width: 300%;
            }

            to {
                margin-left: 0%;
                width: 100%;
            }
        }

        @keyframes fadein{
            0% {opacity:0;}
            100% {opacity:1;}
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }


        a{
            color: #047bff;
        }


        form{
            position: relative;
            text-align: justify;
            margin-left: 50px;
            margin-right: 50px;
        }

        input{
            position: fixed;
            right: 169px;
            /* margin-right: 0; */
            /* position: relative; */
            /* right: 0; */
            width: 150px;
        }

    </style>

    <!-- <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Warning!</strong> This site is incompatible with mobile. Please use another device!
    </div> -->


    <h2>Welcome to the Optimal Portfolio Calculator</h2>

    <h3 class="justify">Enter stocks and view analysis.</h3>
    <h3 class="justify">The site is currently under development, but enjoy this demo in the mean time :)</h3>

    <div>
        <hr class="hr2">
    </div>

    <form action="/num-stocks" method="POST" >

        <h3>
            <label>How many stocks in your portfolio? </label>
            <input type="number" name="stock_num" placeholder="i.e. 5">
            <br>
        </h3>
        <h3>
            <label>Initial Investment Amount </label>
            <input type="number" name="amount" placeholder="i.e. 10000">
            <br>
        </h3>
        <h3 class="center-form">
            <button>Submit</button>
        </h3>
    </form>


 
    
{% endblock %}